*{
  margin: 0;
  height: 100%;
}


@font-face {
  font-family: "Mudstone Sans";
  src: url("Mudstone.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.div1 {
  background: #ffffff;
  width: 100%;
  height: 8.5%;
}

.div2 {
  background: #000000;
  width: 100%;
  height: 11.5%;
  display: flex;
  justify-content: space-between;
}

.div3 { 
  background: #0d362a;
  width: 100%;
  height: 65%;
  font-family: "Mudstone Sans", sans-serif;
  color: #ffffff;
}

.div4 {
  background: #d6d8ddce;
  width: 100%;
  


}


.headline-container {

  background: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  position: relative;
  overflow: hidden;
}



.headline {

  position: absolute;
  display: flex;
 
  align-items: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  font-size: 18px;
  font-weight: bold;
  color: #222;
  text-align: center;
}

.headline:nth-child(1) {
  animation: fade 20s  infinite;
} 

.headline:nth-child(2) {
  animation: fade 20s infinite 5s;
}

.headline:nth-child(3) {
  animation: fade 20s infinite 10s;
}

.headline:nth-child(4) {
  animation: fade 20s infinite 15s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  5% {
    opacity: 0;
  }

  15% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  60% {
    opacity: 0;
  }

  70% {
    opacity: 0;
  }

  80% {
    opacity: 0;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}


.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}



img{
  /* height: 72px;
  align-items: center;
  margin-top: 4px;
  */
  height: 95%;
}



.div31 {
  display: flex;
  font-size: clamp(46px, 17vmin, 83px);
  height: 36%;
  overflow: hidden;
   line-height: 1.3;
}

.div32 {
  height: 55%;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  width: 100%;
  margin-left: 5px;
}

.div322{
  margin-top: 30px;
}

button{
  height: 48%;
  width: 90%;
  border-radius: 15px;
}





.button1 {
  background-color: #fd6cc0;
  color: #fcbc4d;
  font-family: "Mudstone Sans", sans-serif;
   font-size: 170%;
  font-weight: 900;
  text-align: center;

}


.button2 {
  background-color: #f7ff01d7;
  color: #fd6cc0;
  font-family: "Mudstone Sans", sans-serif;
  font-size: 170%;
  font-weight: 900;
  text-align: center;
}


.button3 {
  background-color: #f9c15d;
  color: #3a5edfd3;
  font-family: "Mudstone Sans", sans-serif;
  font-size: 150%;
  font-weight: 900;
  text-align: center;
} 

.button4 {
  background-color: #4e68f7;
  color: #dfd43ad3;
  font-family: "Mudstone Sans", sans-serif;
  font-size: 150%;
  font-weight: 900;
  text-align: center;
} 

#ibtm{
  height: 20%;
}


